{% extends 'main_page_templ.html' %}

{% block body %}
<div class="home_content">
		<h1 class="create_title">Создать пост</h1>
		<form method=post>
			<input type="text" name="title" id="title" class="input_title" placeholder="Заголовок"><br>
			<textarea name="intro" id="intro" class="input_description" placeholder="Описание"></textarea><br>
			<textarea name="text" id="text" class="input_text" placeholder="Текст"></textarea><br>
			<input type="submit" value="Опубликовать" class="commit_button">
		</form>
	</div>
{% endblock %}