{% extends 'main_page_templ.html' %}

{% block body %}
<div class="home_content">

		<form method="post">
			<div>
				<input type="text" name="post_text" value=""
				class="create_post_cont" placeholder="Новая запись" onclick="location.href='/create_post';">
			</div>
		</form>



		{% for el in articles %}
		<div class="post_block">
			<div class="post_title">
				<h2> {{ el.title }} </h2>
			</div>
			<div class="post_description">
				<p>{{ el.intro }}</p>
			 </div>
			 <div class="post_content">
			 	<p>{{ el.text }}</p>
			 </div>
			 <div class="post_data">
			 	{{ el.date.date() }}
			 </div>
		</div>
		{% endfor %}

</div>
{% endblock %}
